{{>header language=language}}
<h1>Invitation à donner un feedback à {{xebian.firstname}} {{xebian.lastname}}</h1>
<p>
    Bonjour, <b>{{customer.firstname}} {{customer.lastname}}</b>
</p>
<p>
    Nous vous invitons à laisser un feedback à {{xebian.firstname}} {{xebian.lastname}} concernant son impact
    <pre>{{impact.description}}</pre>
</p>
<p>
    Pourriez-vous vous rendre <a href="https://impact.xebia.fr/feedbacks/{{feedback.token}}">à cette adresse</a>.
</p>
<p>
    Pour en savoir plus sur X-Impact, n'hésite pas à consulter <a href="http://impact.xebia.fr">notre site</a>.
</p>
<p>Xebia</p>
{{>footer}}
