Bonjour, {{customer.firstname}} {{customer.lastname}}

Nous vous invitons à laisser un feedback à {{xebian.firstname}} {{xebian.lastname}} concernant son impact :

{{impact.description}}

Pourriez-vous vous rendre à cette adresse : https://impact.xebia.fr/#/feedbacks/{{feedback.token}}

Pour en savoir plus sur X-Impact, n'hésite pas à consulter <a href="http://impact.xebia.fr">notre site</a>.

Xebia
